# Sportmonks API

In [1]:
import requests
import pandas as pd

### User defined
import variables as var

%load_ext autoreload
%autoreload 2

In [3]:
### !!!
# We have to make sure to add this to a private network when we upload it to GCP
### !!!
import yaml
key_file = open('sportmonks_token.yaml', 'r')
sports_key = yaml.safe_load(key_file)['sports_token']

### leagues

*leagues* allows us to recover all the leagues available given the membership plan to which we decide to subscribe later on:

In [2]:
base_url = "https://soccer.sportmonks.com/api/v2.0/"
type_url = "leagues"
end_url = f"?api_token={sports_key}&include="
url = base_url + type_url + end_url

In [14]:
r = requests.get(url)
info = r.json()

In [17]:
info['data'][0]

{'id': 271,
 'active': True,
 'type': 'domestic',
 'legacy_id': 43,
 'country_id': 320,
 'logo_path': 'https://cdn.sportmonks.com/images/soccer/leagues/271.png',
 'name': 'Superliga',
 'is_cup': False,
 'is_friendly': False,
 'current_season_id': 18334,
 'current_round_id': 251751,
 'current_stage_id': 77453568,
 'live_standings': True,
 'coverage': {'predictions': True,
  'topscorer_goals': True,
  'topscorer_assists': True,
  'topscorer_cards': True}}

In [18]:
info['data'][1]

{'id': 501,
 'active': True,
 'type': 'domestic',
 'legacy_id': 66,
 'country_id': 1161,
 'logo_path': 'https://cdn.sportmonks.com/images/soccer/leagues/501.png',
 'name': 'Premiership',
 'is_cup': False,
 'is_friendly': False,
 'current_season_id': 18369,
 'current_round_id': 247460,
 'current_stage_id': 77453684,
 'live_standings': True,
 'coverage': {'predictions': True,
  'topscorer_goals': True,
  'topscorer_assists': True,
  'topscorer_cards': True}}

### teams

*teams* alongside with *season* allows us to recover every team playing on a particular season of a league:

In [45]:
base_url = "https://soccer.sportmonks.com/api/v2.0"
type_url = "/teams/season/"
season_id = "18369"
end_url = f"?api_token={sports_key}&include="

url = base_url + type_url + season_id + end_url

In [46]:
r = requests.get(url)
info = r.json()

In [47]:
len(info['data'])

12

In [48]:
teams = {}
for team in info['data']:
    teams[team['id']] = team['name']

In [49]:
teams

{53: 'Celtic',
 62: 'Rangers',
 66: 'Hibernian',
 246: 'Ross County',
 258: 'Livingston',
 273: 'Aberdeen',
 282: 'Dundee United',
 284: 'Dundee',
 309: 'Motherwell',
 314: 'Hearts',
 496: 'St. Mirren',
 734: 'St. Johnstone'}

### head2head (example with 2 teams)

*head2head* allows us to recover historical matches information for any 2 given teams:

In [55]:
base_url = "https://soccer.sportmonks.com/api/v2.0/"
type_url = "head2head/53/62"
end_url = f"?api_token={sports_key}&include="

url = base_url + type_url + end_url

In [56]:
r = requests.get(url)
info = r.json()

In [57]:
len(info['data'])

48

In [65]:
info['data'][0]

{'id': 18137008,
 'league_id': 501,
 'season_id': 18369,
 'stage_id': 77453684,
 'round_id': 247452,
 'group_id': None,
 'aggregate_id': None,
 'venue_id': 8909,
 'referee_id': 14853,
 'localteam_id': 53,
 'visitorteam_id': 62,
 'winner_team_id': 53,
 'weather_report': {'code': 'clouds',
  'type': 'broken clouds',
  'icon': 'https://cdn.sportmonks.com/images/weather/04n.png',
  'temperature': {'temp': 48.09, 'unit': 'fahrenheit'},
  'temperature_celcius': {'temp': 8.9, 'unit': 'celcius'},
  'clouds': '75%',
  'humidity': '93%',
  'pressure': 1015,
  'wind': {'speed': '14.97 m/s', 'degree': 230},
  'coordinates': {'lat': 55.8652, 'lon': -4.2576},
  'updated_at': '2022-02-02T21:30:03.652856Z'},
 'commentaries': True,
 'attendance': None,
 'pitch': None,
 'details': None,
 'neutral_venue': False,
 'winning_odds_calculated': True,
 'formations': {'localteam_formation': '4-3-3',
  'visitorteam_formation': '4-3-3'},
 'scores': {'localteam_score': 3,
  'visitorteam_score': 0,
  'localteam_pen_score': None,
  'visitorteam_pen_score': None,
  'ht_score': '3-0',
  'ft_score': '3-0',
  'et_score': None,
  'ps_score': None},
 'time': {'status': 'FT',
  'starting_at': {'date_time': '2022-02-02 19:45:00',
   'date': '2022-02-02',
   'time': '19:45:00',
   'timestamp': 1643831100,
   'timezone': 'UTC'},
  'minute': 95,
  'second': None,
  'added_time': None,
  'extra_minute': None,
  'injury_time': None},
 'coaches': {'localteam_coach_id': 896805, 'visitorteam_coach_id': 23237},
 'standings': {'localteam_position': 2, 'visitorteam_position': 1},
 'assistants': {'first_assistant_id': 12118,
  'second_assistant_id': 20635,
  'fourth_official_id': 19329},
 'leg': '1/1',
 'colors': {'localteam': {'color': '#339063',
   'kit_colors': '#F0F0F0,#339063,#5B0623,#0A0A0A,#5C8FAE,#FFDF1B,#F0F0F0'},
  'visitorteam': {'color': '#2B72DE',
   'kit_colors': '#2B72DE,#2B72DE,#2424FF,#2424FF,#365CBF,#365CBF,#F0F0F0'}},
 'deleted': False,
 'is_placeholder': False}

### head2head with localTeam

Adding *include=localTeam* to the call will add a value at the end of every dictionary, which itself is a dictionary containing info for the localTeam. We might consider using these to reduce API calls, though for the moment we will not use it.

In [66]:
base_url = "https://soccer.sportmonks.com/api/v2.0/"
type_url = "head2head/53/62"
end_url = f"?api_token={sports_key}&include=localTeam"

url = base_url + type_url + end_url

In [67]:
r = requests.get(url)
info = r.json()

In [68]:
len(info['data'])

48

In [69]:
info['data'][0]

{'id': 18137008,
 'league_id': 501,
 'season_id': 18369,
 'stage_id': 77453684,
 'round_id': 247452,
 'group_id': None,
 'aggregate_id': None,
 'venue_id': 8909,
 'referee_id': 14853,
 'localteam_id': 53,
 'visitorteam_id': 62,
 'winner_team_id': 53,
 'weather_report': {'code': 'clouds',
  'type': 'broken clouds',
  'icon': 'https://cdn.sportmonks.com/images/weather/04n.png',
  'temperature': {'temp': 48.09, 'unit': 'fahrenheit'},
  'temperature_celcius': {'temp': 8.9, 'unit': 'celcius'},
  'clouds': '75%',
  'humidity': '93%',
  'pressure': 1015,
  'wind': {'speed': '14.97 m/s', 'degree': 230},
  'coordinates': {'lat': 55.8652, 'lon': -4.2576},
  'updated_at': '2022-02-02T21:30:03.652856Z'},
 'commentaries': True,
 'attendance': None,
 'pitch': None,
 'details': None,
 'neutral_venue': False,
 'winning_odds_calculated': True,
 'formations': {'localteam_formation': '4-3-3',
  'visitorteam_formation': '4-3-3'},
 'scores': {'localteam_score': 3,
  'visitorteam_score': 0,
  'localteam_pen_score': None,
  'visitorteam_pen_score': None,
  'ht_score': '3-0',
  'ft_score': '3-0',
  'et_score': None,
  'ps_score': None},
 'time': {'status': 'FT',
  'starting_at': {'date_time': '2022-02-02 19:45:00',
   'date': '2022-02-02',
   'time': '19:45:00',
   'timestamp': 1643831100,
   'timezone': 'UTC'},
  'minute': 95,
  'second': None,
  'added_time': None,
  'extra_minute': None,
  'injury_time': None},
 'coaches': {'localteam_coach_id': 896805, 'visitorteam_coach_id': 23237},
 'standings': {'localteam_position': 2, 'visitorteam_position': 1},
 'assistants': {'first_assistant_id': 12118,
  'second_assistant_id': 20635,
  'fourth_official_id': 19329},
 'leg': '1/1',
 'colors': {'localteam': {'color': '#339063',
   'kit_colors': '#F0F0F0,#339063,#5B0623,#0A0A0A,#5C8FAE,#FFDF1B,#F0F0F0'},
  'visitorteam': {'color': '#2B72DE',
   'kit_colors': '#2B72DE,#2B72DE,#2424FF,#2424FF,#365CBF,#365CBF,#F0F0F0'}},
 'deleted': False,
 'is_placeholder': False,
 'localTeam': {'data': {'id': 53,
   'legacy_id': 152,
   'name': 'Celtic',
   'short_code': 'CEL',
   'twitter': None,
   'country_id': 1161,
   'national_team': False,
   'founded': 1888,
   'logo_path': 'https://cdn.sportmonks.com/images/soccer/teams/21/53.png',
   'venue_id': 8909,
   'current_season_id': 18369,
   'is_placeholder': False}}}

### leagues (as function)

We define a function to recover the total amount of leagues at our disposition:

In [29]:
def leagues():
    """
    Return all the available leagues

    Output :
        list containing dictionaries with the info on every league

    """
    
    ### Define the URL    
    base_url = "https://soccer.sportmonks.com/api/v2.0/"
    type_url = "leagues"
    end_url = f"?api_token={sports_key}&include="
    url = base_url + type_url + end_url
    
    ### Request 
    r = requests.get(url)
    
    return r.json()['data']

In [30]:
print('Leagues:')
for l in leagues():
    print(l['id'], l['name'])

Leagues:
271 Superliga
501 Premiership
513 Premiership Play-Offs
1659 Superliga Play-offs

### head2head (as function)

Since we want to predict the future outcome of a match between 2 teams, and given that we want to predict these given historical information, we need to recover the historical match info between the desired teams. For this, we define the `head2head` function, which allows us to recover the match history between any 2 teams:

In [161]:
def head2head(id1, id2):
    """
    Return the historical match results and characteristics between any 2 given teams

    Input :
        id1 : int; id for the first team
        id2 : int; id for the second team

    Output :
        list containing dictionaries with the characteristics of every match

    """
    
    ### Define the URL
    base_url = "https://soccer.sportmonks.com/api/v2.0/"
    head2head_url = f"head2head/{id1}/{id2}"
    end_url = f"?api_token={sports_key}&include="
    url = base_url + head2head_url + end_url
    
    ### Request 
    r = requests.get(url)
    
    return r.json()['data']

In [118]:
### We run the head2head function for teams 53 : 'Celtic' vs 309: 'Motherwell'
prueba = head2head(53, 309)

In [163]:
### We visualize first match's info
prueba[0]

{'id': 18137029,
 'league_id': 501,
 'season_id': 18369,
 'stage_id': 77453684,
 'round_id': 247455,
 'group_id': None,
 'aggregate_id': None,
 'venue_id': 8922,
 'referee_id': 17265,
 'localteam_id': 309,
 'visitorteam_id': 53,
 'winner_team_id': 53,
 'weather_report': {'code': 'clouds',
  'type': 'overcast clouds',
  'icon': 'https://cdn.sportmonks.com/images/weather/04d.png',
  'temperature': {'temp': 37.4, 'unit': 'fahrenheit'},
  'temperature_celcius': {'temp': 3, 'unit': 'celcius'},
  'clouds': '100%',
  'humidity': '87%',
  'pressure': 1000,
  'wind': {'speed': '10 m/s', 'degree': 257},
  'coordinates': {'lat': 55.7892, 'lon': -3.9919},
  'updated_at': '2022-02-06T15:15:03.495463Z'},
 'commentaries': True,
 'attendance': None,
 'pitch': None,
 'details': None,
 'neutral_venue': False,
 'winning_odds_calculated': True,
 'formations': {'localteam_formation': '3-4-3',
  'visitorteam_formation': '4-3-3'},
 'scores': {'localteam_score': 0,
  'visitorteam_score': 4,
  'localteam_pen_score': None,
  'visitorteam_pen_score': None,
  'ht_score': '0-3',
  'ft_score': '0-4',
  'et_score': None,
  'ps_score': None},
 'time': {'status': 'FT',
  'starting_at': {'date_time': '2022-02-06 13:30:00',
   'date': '2022-02-06',
   'time': '13:30:00',
   'timestamp': 1644154200,
   'timezone': 'UTC'},
  'minute': 90,
  'second': None,
  'added_time': None,
  'extra_minute': None,
  'injury_time': None},
 'coaches': {'localteam_coach_id': 523983, 'visitorteam_coach_id': 896805},
 'standings': {'localteam_position': 4, 'visitorteam_position': 1},
 'assistants': {'first_assistant_id': 15817,
  'second_assistant_id': 16670,
  'fourth_official_id': 14795},
 'leg': '1/1',
 'colors': {'localteam': {'color': '#FDBD0F',
   'kit_colors': '#FDBD0F,#FDBD0F,#832034,#FDBD0F,#5C8FAE,#FFDF1B,#940014'},
  'visitorteam': {'color': '#339063',
   'kit_colors': '#F0F0F0,#339063,#5B0623,#0A0A0A,#5C8FAE,#FFDF1B,#F0F0F0'}},
 'deleted': False,
 'is_placeholder': False}

In [148]:
### We initialize the df with the appropriate column names
df = pd.DataFrame(columns = var.columnas_df)

### We store the match history between these 2 teams
df = pd.concat([df] + [pd.DataFrame(pd.Series(prueba[k])).transpose() for k in range(len(prueba))])
df

,id,league_id,season_id,stage_id,round_id,group_id,aggregate_id,venue_id,referee_id,localteam_id,...,formations,scores,time,coaches,standings,assistants,leg,colors,deleted,is_placeholder
0,18137029,501,18369,77453684,247455,None,None,8922,17265,309,...,"{'localteam_formation': '3-4-3', 'visitorteam_...","{'localteam_score': 0, 'visitorteam_score': 4,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 523983, 'visitorteam_co...","{'localteam_position': 4, 'visitorteam_positio...","{'first_assistant_id': 15817, 'second_assistan...",1/1,"{'localteam': {'color': '#FDBD0F', 'kit_colors...",False,False
0,18136984,501,18369,77453684,247448,None,None,8909,14855,53,...,"{'localteam_formation': '4-3-3', 'visitorteam_...","{'localteam_score': 1, 'visitorteam_score': 0,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 896805, 'visitorteam_co...","{'localteam_position': 2, 'visitorteam_positio...","{'first_assistant_id': 12123, 'second_assistan...",1/1,"{'localteam': {'color': '#339063', 'kit_colors...",False,False
0,18136932,501,18369,77453684,247439,None,None,8922,14859,309,...,"{'localteam_formation': '4-3-3', 'visitorteam_...","{'localteam_score': 0, 'visitorteam_score': 2,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 523983, 'visitorteam_co...","{'localteam_position': 4, 'visitorteam_positio...","{'first_assistant_id': 12772, 'second_assistan...",1/1,"{'localteam': {'color': '#FDBD0F', 'kit_colors...",False,False
0,16475446,501,17141,77447501,194995,None,None,8909,14468,53,...,"{'localteam_formation': '4-3-1-2', 'visitortea...","{'localteam_score': 2, 'visitorteam_score': 1,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 1467946, 'visitorteam_c...","{'localteam_position': 2, 'visitorteam_positio...","{'first_assistant_id': 17848, 'second_assistan...",1/1,"{'localteam': {'color': '#F0F0F0', 'kit_colors...",False,False
0,16475361,501,17141,77447501,194981,None,None,8922,14466,309,...,"{'localteam_formation': '4-3-3', 'visitorteam_...","{'localteam_score': 1, 'visitorteam_score': 4,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 524215, 'visitorteam_co...","{'localteam_position': 7, 'visitorteam_positio...","{'first_assistant_id': 12770, 'second_assistan...",1/1,"{'localteam': {'color': '#FDBD0F', 'kit_colors...",False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,374167,501,1928,3209,51867,None,None,8922,None,309,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 1, 'visitorteam_score': 1,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': None, 'visitorteam_coac...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': None, 'second_assistant...",1/1,None,False,False
0,11783989,501,1928,3209,51861,None,None,8909,None,53,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 2, 'visitorteam_score': 1,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': None, 'visitorteam_coac...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': None, 'second_assistant...",1/1,None,False,False
0,373761,501,1927,3207,51841,None,None,8922,None,309,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 1, 'visitorteam_score': 3,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': None, 'visitorteam_coac...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': None, 'second_assistant...",1/1,None,False,False
0,373833,501,1927,3207,51835,None,None,8909,None,53,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 5, 'visitorteam_score': 0,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': None, 'visitorteam_coac...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': None, 'second_assistant...",1/1,None,False,False
0,11783862,501,1927,3207,51828,None,None,8922,None,309,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 4, 'visitorteam_score': 4,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': None, 'visitorteam_coac...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': None, 'second_assistant...",1/1,None,False,False

### Historical matches information for every pair of teams in the current Premiership League season

With the `head2head` function, we recover the historical matches information for every team in the Premiership League (the teams were previously recovered in the `teams` variable):

In [150]:
### We initialize the df with the appropriate column names
df = pd.DataFrame(columns = var.columnas_df)

In [152]:
### The following variable is auxiliar to avoid duplicate requests
teams_aux = list(teams.keys())

### We recover the match history between every unique team - team combination, and store it in the df
for team_1 in teams.keys():
    teams_aux.remove(team_1)
    for team_2 in teams_aux:
        h2h = head2head(team_1, team_2)
        df = pd.concat([df] + [pd.DataFrame(pd.Series(h2h[k])).transpose() for k in range(len(h2h))])

In [153]:
### We visualize our data
df

,id,league_id,season_id,stage_id,round_id,group_id,aggregate_id,venue_id,referee_id,localteam_id,...,formations,scores,time,coaches,standings,assistants,leg,colors,deleted,is_placeholder
0,18137008,501,18369,77453684,247452,None,None,8909,14853,53,...,"{'localteam_formation': '4-3-3', 'visitorteam_...","{'localteam_score': 3, 'visitorteam_score': 0,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 896805, 'visitorteam_co...","{'localteam_position': 2, 'visitorteam_positio...","{'first_assistant_id': 12118, 'second_assistan...",1/1,"{'localteam': {'color': '#339063', 'kit_colors...",False,False
0,18136904,501,18369,77453684,247434,None,None,8914,18748,62,...,"{'localteam_formation': '4-3-3', 'visitorteam_...","{'localteam_score': 1, 'visitorteam_score': 0,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 50, 'visitorteam_coach_...","{'localteam_position': 6, 'visitorteam_positio...","{'first_assistant_id': 12118, 'second_assistan...",1/1,"{'localteam': {'color': '#2B72DE', 'kit_colors...",False,False
0,17947857,501,17141,77447500,240676,243965,None,8914,14468,62,...,"{'localteam_formation': '4-3-1-2', 'visitortea...","{'localteam_score': 4, 'visitorteam_score': 1,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 50, 'visitorteam_coach_...","{'localteam_position': 1, 'visitorteam_positio...","{'first_assistant_id': 12770, 'second_assistan...",1/1,"{'localteam': {'color': '#2B72DE', 'kit_colors...",False,False
0,16475470,501,17141,77447501,194999,None,None,8909,14859,53,...,"{'localteam_formation': '4-2-3-1', 'visitortea...","{'localteam_score': 1, 'visitorteam_score': 1,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 2163, 'visitorteam_coac...","{'localteam_position': 2, 'visitorteam_positio...","{'first_assistant_id': 14860, 'second_assistan...",1/1,"{'localteam': {'color': '#F0F0F0', 'kit_colors...",False,False
0,16475413,501,17141,77447501,194989,None,None,8914,14853,62,...,"{'localteam_formation': '4-3-3', 'visitorteam_...","{'localteam_score': 1, 'visitorteam_score': 0,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 50, 'visitorteam_coach_...","{'localteam_position': 1, 'visitorteam_positio...","{'first_assistant_id': 12118, 'second_assistan...",1/1,"{'localteam': {'color': '#2B72DE', 'kit_colors...",False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,378705,501,1932,3218,52117,None,None,219,17252,734,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 2, 'visitorteam_score': 1,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 896462, 'visitorteam_co...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': 70345, 'second_assistan...",1/1,None,False,False
0,11784140,501,1931,3214,51927,225173,None,219,70310,734,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 2, 'visitorteam_score': 2,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 896462, 'visitorteam_co...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': None, 'second_assistant...",1/1,None,False,False
0,375339,501,1931,3215,163502,None,None,281425,70311,496,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 1, 'visitorteam_score': 1,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 1533158, 'visitorteam_c...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': None, 'second_assistant...",1/1,None,False,False
0,375638,501,1931,3215,52060,None,None,219,70311,734,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 1, 'visitorteam_score': 0,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 896462, 'visitorteam_co...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': None, 'second_assistant...",1/1,None,False,False
0,11784170,501,1931,3215,51958,None,None,281425,70317,496,...,"{'localteam_formation': None, 'visitorteam_for...","{'localteam_score': 1, 'visitorteam_score': 1,...","{'status': 'FT', 'starting_at': {'date_time': ...","{'localteam_coach_id': 1533158, 'visitorteam_c...","{'localteam_position': None, 'visitorteam_posi...","{'first_assistant_id': None, 'second_assistant...",1/1,None,False,False

In [154]:
##### This was just used for testing

### We will store it as a csv, though we will later on store it in a DB
# df.to_csv('premiership_teams_head2head.csv')

### Once having run the previous lines

In [189]:
##### This was just used for testing

### Not recommended to read from csv since some things might differ
### vs having the df being obtained from the API call

# df = pd.read_csv('premiership_teams_head2head.csv', index_col=0)

In [237]:
dropped_columns = ['details']
to_other_tables = ['weather_report', 'formations', 'scores', 'time', 'coaches', 'standings', 'assistants', 'colors']

In [238]:
config_file = open('config.yaml', 'r')
config = yaml.safe_load(config_file)

In [241]:
import mysql.connector

client = mysql.connector.connect(**config['connection'])
cursor = client.cursor()

#### Create DB and Tables

In [242]:
with open('create_h2h_db.sql') as ddl:
    cursor.execute(ddl.read())

In [243]:
with open('create_h2h_general.sql') as ddl:
    cursor.execute(ddl.read())

In [244]:
with open('create_h2h_scores.sql') as ddl:
    cursor.execute(ddl.read())

In [245]:
df_general = df.copy().drop(dropped_columns + to_other_tables, 1)

df_scores = pd.DataFrame(columns = ['id', 'localteam_score', 'visitorteam_score', 'localteam_pen_score',
                                    'visitorteam_pen_score', 'ht_score', 'ft_score', 'et_score', 'ps_score'])
for k in range(df.shape[0]):
#     temp = pd.DataFrame({key:[value] for key,value in eval(df['scores'].iloc[k]).items()})
    temp = pd.DataFrame({key:[value] for key,value in df['scores'].iloc[k].items()})
    temp['id'] = df.iloc[k]['id']
    df_scores = pd.concat([df_scores, temp])

In [259]:
### Columns in which we have identified the existence of None values
### For each, we replace the None value with a -1

### Note that not finding a None value in the other columns does not
### imply that they cannot be non null

###### h2h.general

### ID variables
df_general['id'] = df_general['id'].astype(str)
df_general['league_id'] = df_general['league_id'].astype(str)
df_general['season_id'] = df_general['season_id'].astype(str)
df_general['stage_id'] = df_general['stage_id'].astype(str)
df_general['round_id'] = df_general['round_id'].astype(str)
df_general['group_id'] = df_general['group_id'].fillna(-1).astype(str)
df_general['aggregate_id'] = df_general['aggregate_id'].fillna(-1).astype(str)
df_general['venue_id'] = df_general['venue_id'].astype(str)
df_general['referee_id'] = df_general['referee_id'].fillna(-1).astype(str)
df_general['localteam_id'] = df_general['localteam_id'].astype(str)
df_general['visitorteam_id'] = df_general['visitorteam_id'].astype(str)
df_general['winner_team_id'] = df_general['winner_team_id'].fillna(-1).astype(str)

### Other variables
df_general['commentaries'] = df_general['commentaries'].apply(vnf.booleanize) # Boolean
df_general['attendance'] = df_general['attendance'].fillna(-1).astype(int) # Integer
df_general['pitch'] = df_general['pitch'].apply(lambda x: "None" if x is None else x).astype(str) # Categorical
df_general['neutral_venue'] = df_general['neutral_venue'].apply(vnf.booleanize) # Boolean
df_general['winning_odds_calculated'] = df_general['winning_odds_calculated'].apply(vnf.booleanize) # Boolean
df_general['deleted'] = df_general['deleted'].apply(vnf.booleanize) # Boolean
df_general['is_placeholder'] = df_general['is_placeholder'].apply(vnf.booleanize) # Boolean
df_general['leg'] = df_general['leg'].astype(str)

###### h2h.scores

df_scores['id'] = df_scores['id'].astype(str)
df_scores['localteam_score'] = df_scores['localteam_score'].fillna(-1).astype(int) # Integer
df_scores['visitorteam_score'] = df_scores['visitorteam_score'].fillna(-1).astype(int) # Integer
df_scores['localteam_pen_score'] = df_scores['localteam_pen_score'].fillna(-1).astype(int) # Integer
df_scores['visitorteam_pen_score'] = df_scores['visitorteam_pen_score'].fillna(-1).astype(int) # Integer
df_scores['ht_score'] = df_scores['ht_score'].fillna(-1).astype(str) # String
df_scores['ft_score'] = df_scores['ft_score'].fillna(-1).astype(str) # String
df_scores['et_score'] = df_scores['et_score'].fillna(-1).astype(str) # String
df_scores['ps_score'] = df_scores['ps_score'].fillna(-1).astype(str) # String

In [260]:
def list_of_tuples(df):
    
    all_values = []
    
    for k in range(df.shape[0]):
        temp = df.iloc[k]
#         temp = temp.astype(str)
        temp = tuple(temp)
        all_values.append(temp)
        
    return all_values

In [261]:
general_values = list_of_tuples(df_general)
scores_values = list_of_tuples(df_scores)

In [262]:
for value in general_values:
    with open('insert_h2h_general.sql') as dml:
        try:
            cursor.execute(dml.read(), value)
            dml.close()
        except mysql.connector.IntegrityError as err:
            print("Something went wrong: {}".format(err))
            dml.close()
            pass

MySQLInterfaceError: Python type numpy.int64 cannot be converted

In [169]:
for value in scores_values:
    with open('insert_h2h_scores.sql') as dml:
        try:
            cursor.execute(dml.read(), value)
            dml.close()
        except mysql.connector.IntegrityError as err:
            print("Something went wrong: {}".format(err))
            dml.close()
            pass

In [170]:
client.commit()

### Script

In [9]:
import requests
import pandas as pd
import mysql.connector
import yaml

### User defined
import variables_n_functions as vnf

config_file = open('config.yaml', 'r')
config = yaml.safe_load(config_file)

teams = config['teams']

### We initialize the df with the appropriate column names
df = pd.DataFrame(columns = vnf.columnas_df)

### The following variable is auxiliar to avoid duplicate requests
teams_aux = list(teams.keys())

### We recover the match history between every unique team - team combination, and store it in the df
for team_1 in teams.keys():
    teams_aux.remove(team_1)
    for team_2 in teams_aux:
        h2h = vnf.head2head(team_1, team_2, config['sports_token'])
        df = pd.concat([df] + [pd.DataFrame(pd.Series(h2h[k])).transpose() for k in range(len(h2h))])        

### Define columns to drop or that will be added to other tables
dropped_columns = ['details']
to_other_tables = ['weather_report', 'formations', 'scores', 'time', 'coaches', 'standings', 'assistants', 'colors']

config_file = open('config.yaml', 'r')
config = yaml.safe_load(config_file)

client = mysql.connector.connect(**config['connection'])
cursor = client.cursor()

#### Create DB and Tables

with open('create_h2h_db.sql') as ddl:
    cursor.execute(ddl.read())

with open('create_h2h_general.sql') as ddl:
    cursor.execute(ddl.read())

with open('create_h2h_scores.sql') as ddl:
    cursor.execute(ddl.read())

df_general = df.copy().drop(dropped_columns + to_other_tables, 1)

df_scores = pd.DataFrame(columns = ['id', 'localteam_score', 'visitorteam_score', 'localteam_pen_score',
                                    'visitorteam_pen_score', 'ht_score', 'ft_score', 'et_score', 'ps_score'])
for k in range(df.shape[0]):
    temp = pd.DataFrame({key:[value] for key,value in df['scores'].iloc[k].items()})
    temp['id'] = df.iloc[k]['id']
    df_scores = pd.concat([df_scores, temp])

def list_of_tuples(df):
    
    all_values = []
    
    for k in range(df.shape[0]):
        temp = df.iloc[k]
        temp = temp.astype(str)
        temp = tuple(temp)
        all_values.append(temp)
        
    return all_values

general_values = list_of_tuples(df_general)
scores_values = list_of_tuples(df_scores)

for value in general_values:
    with open('insert_h2h_general.sql') as dml:
        try:
            cursor.execute(dml.read(), value)
            dml.close()
        except mysql.connector.IntegrityError as err:
            print("Something went wrong: {}".format(err))
            dml.close()
            pass

for value in scores_values:
    with open('insert_h2h_scores.sql') as dml:
        try:
            cursor.execute(dml.read(), value)
            dml.close()
        except mysql.connector.IntegrityError as err:
            print("Something went wrong: {}".format(err))
            dml.close()
            pass

client.commit()